# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore virtual environments
venv/
env/

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore static and media files (optional)
staticfiles/
media/

# Ignore compiled files
*.pyc
*.pyo

# Ignore IDE or editor files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
